.container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn-test {
  color: #fff !important;
  background-color: #04293a !important;
  border-color: #04293a !important;
}
.row {
  justify-content: center;
}
.color {
  padding: 10px;
  width: 12px;
  align-self: center;
  border: #fff 1px solid;
}
caption {
  color: rgba(255, 255, 255, 0.87) !important;
}
